

h2{
    display: inline-block;
    margin-left: 20px;
    margin-right: 100px;
}

h5{
    display: inline;
    margin-right: 6%;
}

#search{
    width: 20px;
    margin-left: 160px;
    margin-right: 20px;
}

#contact{
    width: 20px;
    margin-right: 20px;
    
}


#love{
    width: 20px;
    margin-right: 20px;
  
}


#basket{
    width: 20px;
    margin-right: 20px;
   
}


.first{
    color: rgb(0, 0, 0);
    margin-left: 3%;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: -10px;
    margin-top: 100px;
    display: inline-block;
}

#pizzas{
    color: rgb(255, 197, 6);
}

.second{
    color: green;
    margin-left: 3%;
    font-weight: bold;
    font-size: 20px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.third{
    margin-left: 3%;
    margin-top: 5px;
    font-weight: bold;
    color: brown;
}

.fourth{
    color: green;
    margin-left: 20px;
}

#sup{
    color: brown;
}

.ordernow{
    background-color:rgb(255, 197, 6);
    color: rgb(26, 13, 3);
    border: none;
    height: 30px;
    border-radius: 6px;
    border-style: solid;
    border-width: 0px;
    margin-right: 20px;
    margin-left: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 11px;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 10px;
    transition: opacity 1s;
    font-family: Arial, Helvetica, sans-serif;
 }

 .menus{
    background-color:rgb(177, 114, 85);
    color: rgb(26, 13, 3);
    border: none;
    height: 30px;
    border-radius: 6px;
    border-style: solid;
    border-width: 0px;
    margin-right: 100px;
    margin-left: 600px;
    margin-top: 130px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 11px;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 10px;
    transition: opacity 1s;
    font-family: Arial, Helvetica, sans-serif;
 }



